
.ct-info {
    display: flex;
    align-items: center;
    background-color: #3B294A;
    width: 100%;
    height: 40px;
    margin: 12px 0 12px 0;
    border-radius: 4px;
}

.ct-info div {
    line-height: 40px;
    padding: 0 24px;
    color: #ffffff;
    max-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35%;
}

.no-content {
    text-align: center;
    line-height: 100px;
}

.event {
    text-align: center;
    vertical-align: middle;
    padding: 0 4px;
    width: 40px;
    background-color: #3B294A;
    margin-left: 6px;
    border-radius: 4px;
}

