@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section styles{
    <link rel="stylesheet" href="~/css/view/tk-index.css" />
}

<div>
    <h4>THỐNG KÊ</h4>
    <div class="menu-list">
        <a class="menu-item" href="/">Đội bóng</a>
        <a class="menu-item" href="/ThongKe/ThongKeCauThu">Cầu thủ</a>
        <a class="menu-item" href="/">Thẻ phạt</a>
        <a class="menu-item" href="/">Kết quả</a>
    </div>
    <div class="table">
        <div class="no-content">Chọn loại thông kê để xem</div>
    </div>
</div>

<script>
    document.getElementById("thongke").classList.add("selected");
</script>